a {

}

.navbar-nav .nav-link {
    color: #212529;
}

.navbar-nav .nav-link:hover {
    font-weight: 500;
    font-size: 18px;
}

footer {
    background-color: #212529;
}

.btn-footer {
    background-color: #fff;
}

i {
    color: #fff;
}
