body {
    background-color: silver;
}
a {

}

#one-section {
    background-color: url(background/DSC05794.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    position: relative;
}

.one-container{
 background-color: #fff;
}

.navbar-nav .nav-link {
    color: #212529;
}

.navbar-nav .nav-link:hover {
    /* font-weight: 500;
    font-size: 18px; */
    background-color: silver;
}

footer {
    background-color: #212529;
}

.btn-footer {
    background-color: #fff;
}

i {
    color: #fff;
}

