
.icon-ok:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-ok-1:before { content: '\e802'; } /* '' */
.icon-ie:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-emo-happy:before { content: '\e805'; } /* '' */
.icon-emo-wink:before { content: '\e806'; } /* '' */
.icon-emo-unhappy:before { content: '\e807'; } /* '' */
.icon-heart:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-heart-empty:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-star-empty:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-camera:before { content: '\e80e'; } /* '' */
.icon-info-circled:before { content: '\e80f'; } /* '' */
.icon-pin:before { content: '\e810'; } /* '' */
.icon-bookmark:before { content: '\e811'; } /* '' */
.icon-thumbs-up:before { content: '\e812'; } /* '' */
.icon-thumbs-down:before { content: '\e813'; } /* '' */
.icon-forward:before { content: '\e814'; } /* '' */
.icon-comment:before { content: '\e815'; } /* '' */
.icon-attention:before { content: '\e816'; } /* '' */
.icon-fire-station:before { content: '\e817'; } /* '' */
.icon-location:before { content: '\e818'; } /* '' */
.icon-left-open:before { content: '\e819'; } /* '' */
.icon-right-open:before { content: '\e81a'; } /* '' */
.icon-down-open:before { content: '\e81b'; } /* '' */
.icon-up-open:before { content: '\e81c'; } /* '' */
.icon-globe:before { content: '\e81d'; } /* '' */
.icon-cloud:before { content: '\e81e'; } /* '' */
.icon-flash:before { content: '\e81f'; } /* '' */
.icon-umbrella:before { content: '\e820'; } /* '' */
.icon-tint:before { content: '\e821'; } /* '' */
.icon-credit-card:before { content: '\e822'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
